<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Anchor-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,200},{42,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{42,38}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Anchor-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,196},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{42,48}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Anchor-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,143},{46,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{46,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Anchor00.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,181},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Anchor01.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,127},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Anchor11.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{36,40}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Anchor12.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{34,36}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{34,36}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Anchor13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{34,38}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{34,38}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Anchor21.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,199},{42,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{42,44}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Anchor22.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,200},{38,42}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{38,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Anchor23.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,199},{40,42}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{40,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Anchor31.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,196},{48,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{48,48}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Anchor32.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,152},{42,46}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{42,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Anchor33.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,197},{44,46}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{44,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PAnchor-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,209},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,87},{21,21}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>PAnchor-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,40},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,80},{35,35}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>PAnchor-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,127},{67,69}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,63},{67,69}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>PAnchor-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,102},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,50},{95,95}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>PAnchor-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{123,123}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,37},{123,123}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>PAnchor-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,139}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,29},{141,139}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>PAnchor01.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,102},{40,48}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,16},{40,48}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>PAnchor02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{64,64}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{64,64}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>PAnchor03.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>PAnchor11.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{36,40}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PAnchor12.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,124},{31,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{31,33}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>PAnchor21.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,199},{42,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{42,44}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PAnchor22.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,85},{33,37}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{33,37}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>PAnchor31.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,196},{48,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{48,48}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PAnchor32.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,44},{39,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{39,39}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TAnchor-hd.pvr.ccz</string>
            <key>size</key>
            <string>{449,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e8166569312b5e5892b7fecd28eff4e$</string>
            <key>textureFileName</key>
            <string>TAnchor-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
