<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Arrow-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{44,44}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Arrow-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Arrow-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Arrow00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Arrow01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Arrow11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{50,40}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{50,40}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Arrow12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{50,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{50,38}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Arrow13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{50,40}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Arrow21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{50,40}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,40}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Arrow22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{50,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{50,40}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Arrow23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{50,40}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Arrow31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{50,42}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Arrow32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{52,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{52,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Arrow33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{50,42}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PArrow01.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,682},{28,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{28,28}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PArrow02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{40,44}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{40,44}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PArrow11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{21,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,46}}</string>
                <key>sourceSize</key>
                <string>{21,46}</string>
            </dict>
            <key>PArrow12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{21,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,46}}</string>
                <key>sourceSize</key>
                <string>{21,46}</string>
            </dict>
            <key>PArrow21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{21,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,46}}</string>
                <key>sourceSize</key>
                <string>{21,46}</string>
            </dict>
            <key>PArrow22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{21,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,46}}</string>
                <key>sourceSize</key>
                <string>{21,46}</string>
            </dict>
            <key>PArrow31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{21,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,46}}</string>
                <key>sourceSize</key>
                <string>{21,46}</string>
            </dict>
            <key>PArrow32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{21,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,46}}</string>
                <key>sourceSize</key>
                <string>{21,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TArrow-hd.pvr.ccz</string>
            <key>size</key>
            <string>{56,730}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44c7d7c8047303fbe104de347a7750fa$</string>
            <key>textureFileName</key>
            <string>TArrow-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
