<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ball00.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,171},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Ball01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Ball11.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,142},{46,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{46,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Ball12.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,98},{46,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{46,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Ball13.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,96},{46,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{46,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Ball14.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,52},{46,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{46,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Ball21.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,50},{46,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{46,48}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Ball22.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{46,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{46,48}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Ball23.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{46,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{46,48}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Ball24.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,152},{46,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{46,48}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Ball31.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,169},{46,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Ball32.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,169},{46,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Ball33.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,169},{46,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Ball34.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,169},{46,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PBall01.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,152},{42,36}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{42,36}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PBall02.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,169},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{50,48}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PBall11.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,221},{30,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{30,148}}</string>
                <key>sourceSize</key>
                <string>{52,156}</string>
            </dict>
            <key>PBall12.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{28,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{28,148}}</string>
                <key>sourceSize</key>
                <string>{52,156}</string>
            </dict>
            <key>PBall13.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,223},{30,148}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{30,148}}</string>
                <key>sourceSize</key>
                <string>{52,156}</string>
            </dict>
            <key>PBall14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{28,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{28,148}}</string>
                <key>sourceSize</key>
                <string>{52,156}</string>
            </dict>
            <key>PBall21.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{38,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{38,165}}</string>
                <key>sourceSize</key>
                <string>{52,169}</string>
            </dict>
            <key>PBall22.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{34,167}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{34,167}}</string>
                <key>sourceSize</key>
                <string>{52,169}</string>
            </dict>
            <key>PBall23.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{38,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{38,165}}</string>
                <key>sourceSize</key>
                <string>{52,169}</string>
            </dict>
            <key>PBall24.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{34,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{34,165}}</string>
                <key>sourceSize</key>
                <string>{52,169}</string>
            </dict>
            <key>PBall31.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{48,165}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{48,165}}</string>
                <key>sourceSize</key>
                <string>{52,169}</string>
            </dict>
            <key>PBall32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{46,167}}</string>
                <key>sourceSize</key>
                <string>{52,169}</string>
            </dict>
            <key>PBall33.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{48,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,165}}</string>
                <key>sourceSize</key>
                <string>{52,169}</string>
            </dict>
            <key>PBall34.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{44,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{44,165}}</string>
                <key>sourceSize</key>
                <string>{52,169}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TBall-hd.pvr.ccz</string>
            <key>size</key>
            <string>{482,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29d99733db6c774c80ae33b654c74d18$</string>
            <key>textureFileName</key>
            <string>TBall-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
