<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BStar-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,371},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{42,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>BStar-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,417},{44,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{44,44}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>BStar-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,67},{50,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{50,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>BStar00.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,219},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>BStar01.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,167},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>BStar11.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,424},{34,34}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{34,34}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>BStar12.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,388},{34,34}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{34,34}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>BStar13.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,316},{34,36}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{34,36}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>BStar21.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,458},{40,40}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{40,40}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>BStar22.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,460},{40,40}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{40,40}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>BStar23.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,415},{40,42}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{40,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>BStar31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{46,44}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{46,44}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>BStar32.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,271},{46,46}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{46,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>BStar33.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,119},{46,46}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PBStar-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,432},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,87},{21,21}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>PBStar-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,463},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,81},{33,33}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>PBStar-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,365},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,65},{65,65}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>PBStar-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,52},{91,91}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>PBStar-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{131,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,33},{131,129}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>PBStar-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{143,143}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>PBStar-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{63,37}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,28},{63,37}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PBStar01.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,432},{22,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{22,24}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PBStar02.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,278},{36,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{36,36}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PBStar11.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,352},{34,34}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{34,34}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PBStar21.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,457},{40,40}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{40,40}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PBStar31.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,319},{46,44}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{46,44}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TBlueStar-hd.pvr.ccz</string>
            <key>size</key>
            <string>{198,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53f882e1c0516eadd611959155835e76$</string>
            <key>textureFileName</key>
            <string>TBlueStar-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
