<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bottle-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,46},{40,40}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{40,40}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Bottle00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Bottle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Bottle11.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,88},{18,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{18,38}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Bottle12.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,24},{20,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,6},{20,40}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Bottle13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{16,42}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{16,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Bottle21.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{24,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{24,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Bottle22.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,52},{26,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{26,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Bottle23.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,104},{22,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,1},{22,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Bottle31.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{30,48}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Bottle32.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,54},{32,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{32,48}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Bottle33.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{30,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{30,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PBottle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{20,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{20,20}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PBottle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,52},{44,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{44,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PBottle11.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,24},{18,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{18,34}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PBottle12.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,108},{18,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{18,34}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PBottle13.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,110},{16,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,11},{16,32}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PBottle21.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{20,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,9},{20,36}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PBottle22.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,88},{18,36}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{18,36}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PBottle23.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,88},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{20,38}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PBottle31.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,98},{26,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{26,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PBottle32.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{24,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{24,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PBottle33.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,46},{26,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{26,40}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TBottle-hd.pvr.ccz</string>
            <key>size</key>
            <string>{252,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07a919fce3933f0507216f904143750d$</string>
            <key>textureFileName</key>
            <string>TBottle-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
