<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FBottle-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{40,40}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{40,40}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>FBottle00.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>FBottle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>FBottle11.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,84},{18,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,7},{18,38}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>FBottle12.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,62},{20,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{20,36}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>FBottle13.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,44},{16,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{16,40}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>FBottle21.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,30},{24,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,5},{24,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>FBottle22.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{26,42}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,7},{26,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>FBottle23.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,106},{20,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,3},{20,44}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>FBottle31.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,56},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{30,48}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>FBottle32.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{36,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{36,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>FBottle33.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,56},{28,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{28,48}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PFBottle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,74},{26,28}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{26,28}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>PFBottle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>PFBottle11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{10,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{10,38}}</string>
                <key>sourceSize</key>
                <string>{52,38}</string>
            </dict>
            <key>PFBottle12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{10,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{10,38}}</string>
                <key>sourceSize</key>
                <string>{52,38}</string>
            </dict>
            <key>PFBottle21.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,62},{16,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{16,42}}</string>
                <key>sourceSize</key>
                <string>{52,42}</string>
            </dict>
            <key>PFBottle22.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,56},{16,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{16,42}}</string>
                <key>sourceSize</key>
                <string>{52,42}</string>
            </dict>
            <key>PFBottle31.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,60},{20,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{20,49}}</string>
                <key>sourceSize</key>
                <string>{52,49}</string>
            </dict>
            <key>PFBottle32.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,106},{20,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{20,48}}</string>
                <key>sourceSize</key>
                <string>{52,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TFireBottle-hd.pvr.ccz</string>
            <key>size</key>
            <string>{238,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35df32af66eaa30ae1d07ef83cd951dc$</string>
            <key>textureFileName</key>
            <string>TFireBottle-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
