<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mushroom-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,631},{10,10}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,29},{10,10}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Mushroom-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,631},{10,10}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,29},{10,10}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Mushroom-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,631},{10,10}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,29},{10,10}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Mushroom00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,745},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Mushroom01.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,239},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Mushroom11.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,293},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{40,38}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Mushroom12.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,745},{40,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{40,36}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Mushroom13.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,735},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{40,38}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Mushroom21.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,393},{44,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{44,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Mushroom22.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,645},{44,40}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{44,40}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Mushroom23.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,661},{44,44}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{44,44}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Mushroom31.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,299},{48,46}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{48,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Mushroom32.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,347},{48,44}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{48,44}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Mushroom33.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,249},{48,48}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{48,48}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PMushroom-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,661},{88,94}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{88,94}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>PMushroom-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,633},{154,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{154,156}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>PMushroom01.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,633},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{18,18}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PMushroom02.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,2},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{30,30}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PMushroom03.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,691},{40,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{40,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PMushroom11.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,645},{147,149}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,40},{147,149}}</string>
                <key>sourceSize</key>
                <string>{227,227}</string>
            </dict>
            <key>PMushroom12.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,631},{165,167}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,32},{165,167}}</string>
                <key>sourceSize</key>
                <string>{227,227}</string>
            </dict>
            <key>PMushroom13.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,448},{191,195}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{191,195}}</string>
                <key>sourceSize</key>
                <string>{227,227}</string>
            </dict>
            <key>PMushroom14.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,456},{199,203}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{199,203}}</string>
                <key>sourceSize</key>
                <string>{227,227}</string>
            </dict>
            <key>PMushroom15.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,251},{199,203}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{199,203}}</string>
                <key>sourceSize</key>
                <string>{227,227}</string>
            </dict>
            <key>PMushroom21.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,448},{183,183}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,56},{183,183}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>PMushroom22.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,239},{207,207}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,44},{207,207}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>PMushroom23.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,2},{237,235}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,30},{237,235}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>PMushroom24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{247,245}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,25},{247,245}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>PMushroom25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{249,247}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,24},{249,247}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>PMushroom31.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,446},{183,181}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,57},{183,181}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>PMushroom32.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,239},{207,205}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,45},{207,205}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>PMushroom33.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{237,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,29},{237,235}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>PMushroom34.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,2},{247,245}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,25},{247,245}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>PMushroom35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{247,245}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,25},{247,245}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TMushroom-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1013,798}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54b350c3860972426131eaae55cca330$</string>
            <key>textureFileName</key>
            <string>TMushroom-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
