<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PPin01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{32,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{32,32}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>PPin02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{30,32}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>PPin03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{38,36}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{38,36}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>PPin04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{34,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{34,32}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>PPin11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{12,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,10},{12,32}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PPin12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{10,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,11},{10,30}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PPin21.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,544},{12,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{12,36}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PPin22.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,458},{12,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,6},{12,38}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PPin31.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,412},{16,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,3},{16,44}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PPin32.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,498},{14,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,3},{14,44}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Pin-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{42,42}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{42,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Pin-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{42,42}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{42,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Pin-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{50,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Pin00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Pin01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Pin11.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,308},{16,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,1},{16,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Pin12.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,256},{16,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{16,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Pin13.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,204},{16,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{16,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Pin21.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,360},{24,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{24,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Pin22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{24,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{24,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Pin23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{24,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{24,48}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Pin31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{32,50}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Pin32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{32,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{32,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Pin33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{32,46}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{32,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TPin-hd.pvr.ccz</string>
            <key>size</key>
            <string>{54,626}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1a10156e6f4d4f5b1751f5c5bf56560$</string>
            <key>textureFileName</key>
            <string>TPin-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
