<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PPlane01.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,1005},{36,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{36,32}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PPlane02.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,980},{38,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{38,40}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PPlane03.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,843},{24,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{24,24}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PPlane04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1005},{36,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{36,36}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PPlane05.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,869},{22,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{22,22}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PPlane11.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{24,839}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{24,839}}</string>
                <key>sourceSize</key>
                <string>{46,851}</string>
            </dict>
            <key>PPlane12.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{24,839}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{24,839}}</string>
                <key>sourceSize</key>
                <string>{46,851}</string>
            </dict>
            <key>PPlane13.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{24,839}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{24,839}}</string>
                <key>sourceSize</key>
                <string>{46,851}</string>
            </dict>
            <key>PPlane21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,841}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,841}}</string>
                <key>sourceSize</key>
                <string>{46,851}</string>
            </dict>
            <key>PPlane22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,841}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,841}}</string>
                <key>sourceSize</key>
                <string>{46,851}</string>
            </dict>
            <key>PPlane23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,841}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,841}}</string>
                <key>sourceSize</key>
                <string>{46,851}</string>
            </dict>
            <key>PPlane31.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{46,830}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,830}}</string>
                <key>sourceSize</key>
                <string>{46,838}</string>
            </dict>
            <key>PPlane32.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{46,830}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,830}}</string>
                <key>sourceSize</key>
                <string>{46,838}</string>
            </dict>
            <key>PPlane33.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{46,830}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,830}}</string>
                <key>sourceSize</key>
                <string>{46,838}</string>
            </dict>
            <key>Plane-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,953},{52,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Plane00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,899},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Plane01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,845},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Plane11.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,936},{48,42}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{48,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Plane12.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,936},{48,42}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{48,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Plane13.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,936},{48,42}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{48,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Plane21.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,886},{48,42}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{48,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Plane22.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,886},{48,42}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{48,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Plane23.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,886},{48,42}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{48,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Plane31.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,834},{50,42}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{50,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Plane32.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,834},{50,42}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{50,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Plane33.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,834},{50,42}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{50,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TPlane-hd.pvr.ccz</string>
            <key>size</key>
            <string>{126,1043}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2764cb41e531ef9c44d05a8e2496eb9$</string>
            <key>textureFileName</key>
            <string>TPlane-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
