<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PRocket-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,391},{26,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,54},{26,24}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>PRocket-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,224},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,42},{48,46}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>PRocket-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{62,64}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,32},{62,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>PRocket-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,285},{92,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{92,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>PRocket-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{120,120}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{120,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>PRocket-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{159,161}}</string>
                <key>sourceSize</key>
                <string>{163,163}</string>
            </dict>
            <key>PRocket01.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,395},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{30,30}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PRocket02.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,272},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PRocket11.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{21,59}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{21,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PRocket12.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,344},{21,55}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{21,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PRocket13.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,285},{21,57}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{21,57}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PRocket14.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,377},{21,53}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{21,53}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PRocket15.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,63},{21,57}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{21,57}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PRocket21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{29,63}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{29,63}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PRocket22.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,360},{29,59}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{29,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PRocket23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{29,61}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,1},{29,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PRocket24.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,401},{29,59}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,1},{29,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PRocket25.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,295},{29,63}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{29,63}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PRocket31.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,189},{33,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{33,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PRocket32.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,256},{33,61}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{33,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PRocket33.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,163},{33,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{33,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PRocket34.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,230},{33,63}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{33,63}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PRocket35.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,122},{33,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{33,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Rocket-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,398},{40,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{40,38}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Rocket-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,319},{44,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{44,44}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Rocket-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,66},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Rocket00.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,172},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Rocket01.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,120},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Rocket11.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,354},{20,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{20,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Rocket12.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{21,59}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{21,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Rocket13.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,344},{21,55}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{21,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Rocket21.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,365},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{28,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Rocket22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{29,63}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{29,63}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Rocket23.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,360},{29,59}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{29,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Rocket31.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,320},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{32,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Rocket32.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,189},{33,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{33,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Rocket33.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,256},{33,61}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{33,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TRocket-hd.pvr.ccz</string>
            <key>size</key>
            <string>{254,439}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0518cc199e2a71f7c21b638be76106f2$</string>
            <key>textureFileName</key>
            <string>TRocket-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
