<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PShit-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,176},{52,14}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{52,14}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PShit-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{52,16}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{52,16}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PShit01.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,504},{16,16}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{16,16}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PShit02.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,364},{36,32}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{36,32}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PShit11.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,106},{12,32}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{12,32}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PShit12.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,140},{10,34}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{10,34}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PShit21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{16,36}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{16,36}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PShit22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{16,36}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{16,36}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PShit31.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,276},{20,44}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{20,44}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PShit32.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,230},{20,44}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{20,44}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Shit-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,504},{42,20}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,23},{42,20}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Shit-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{50,26}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,21},{50,26}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Shit-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{52,24}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,27},{52,24}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Shit00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Shit01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Shit11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{32,28}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{32,28}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Shit12.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,472},{30,32}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{30,32}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Shit13.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,440},{38,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{38,30}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Shit21.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,402},{36,36}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{36,36}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Shit22.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,322},{32,40}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{32,40}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Shit23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{40,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{40,38}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Shit31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{42,44}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{42,44}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Shit32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{38,46}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{38,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Shit33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{46,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{46,44}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TShit-hd.pvr.ccz</string>
            <key>size</key>
            <string>{64,556}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:644a3b158326aee8d60f49be696b5c86$</string>
            <key>textureFileName</key>
            <string>TShit-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
