<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PStar-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,50},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,87},{21,21}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>PStar-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,143},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,80},{35,35}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>PStar-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,2},{67,69}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,63},{67,69}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>PStar-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,50},{95,95}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>PStar-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{123,123}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,37},{123,123}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>PStar-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,139}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,29},{141,139}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>PStar01.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,127},{22,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{22,24}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PStar02.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,143},{36,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{36,36}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PStar11.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,143},{34,34}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{34,34}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PStar21.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,50},{42,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{42,40}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PStar31.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,127},{46,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{46,44}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Star-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,132},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{42,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Star-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,125},{44,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{44,44}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Star-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,73},{50,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{50,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Star00.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,99},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Star01.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,73},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Star11.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,143},{34,34}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{34,34}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Star12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{34,36}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{34,36}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Star13.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,94},{36,36}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{36,36}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Star21.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,50},{42,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{42,40}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Star22.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,99},{40,42}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{40,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Star23.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,125},{42,42}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{42,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Star31.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,127},{46,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{46,44}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Star32.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,127},{46,46}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Star33.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{46,46}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TStar-hd.pvr.ccz</string>
            <key>size</key>
            <string>{511,181}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:461983193d9233773e6f5db13cca06ab$</string>
            <key>textureFileName</key>
            <string>TStar-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
