<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PSun01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,207},{46,32}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{46,32}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PSun02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,169},{50,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{50,36}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PSun03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,169},{48,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{48,36}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PSun04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2001,153},{50,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{50,38}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PSun05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,207},{48,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{48,34}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PSun06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,207},{46,32}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{46,32}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PSun07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,169},{50,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{50,36}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PSun08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,169},{48,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{48,36}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PSun09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2001,153},{50,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{50,38}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>PSun11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1895,2},{149,149}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,38},{149,149}}</string>
                <key>sourceSize</key>
                <string>{227,227}</string>
            </dict>
            <key>PSun12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,2},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,31},{165,165}}</string>
                <key>sourceSize</key>
                <string>{227,227}</string>
            </dict>
            <key>PSun13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,2},{187,185}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,22},{187,185}}</string>
                <key>sourceSize</key>
                <string>{227,227}</string>
            </dict>
            <key>PSun14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,2},{197,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{197,197}}</string>
                <key>sourceSize</key>
                <string>{227,227}</string>
            </dict>
            <key>PSun15.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,2},{199,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{199,199}}</string>
                <key>sourceSize</key>
                <string>{227,227}</string>
            </dict>
            <key>PSun21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,2},{185,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,54},{185,185}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>PSun22.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,2},{207,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,43},{207,207}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>PSun23.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{235,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{235,235}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>PSun24.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,2},{249,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{249,249}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>PSun25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{251,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{251,251}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>PSun31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,2},{185,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,54},{185,185}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>PSun32.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,2},{207,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,43},{207,207}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>PSun33.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{235,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{235,235}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>PSun34.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,2},{249,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{249,249}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>PSun35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{251,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{251,251}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>Sun-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,201},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{30,30}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Sun-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,219},{34,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{34,36}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Sun-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,189},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{40,40}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Sun00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,169},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Sun01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1949,153},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Sun11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2001,205},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{42,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Sun21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,207},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Sun31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1895,153},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TSun-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2046,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b942445b1966849ab8dc2168dfff0f91$</string>
            <key>textureFileName</key>
            <string>TSun-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
