<form action="{{ url_for('first_blue.add_question') }}" method="post">
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Question:</span>
  <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" name="Question">
</div>
<div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Answer:</span>
   <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2" name="Answer">
</div>
<input type="submit" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-align-left" aria-hidden="true" onclick=""></span>
</input>
</form>